mixin picture(imgSrc, imgClass)
	picture.img(class=`img--${imgClass}`)
		source.img__item(srcset=`images/${imgSrc}.webp` type="image/webp")
		source.img__item(srcset=`images/${imgSrc}.jp2` type="image/jp2")
		img.img__item(src=`images/${imgSrc}.png` alt=imgSrc)
